<div class="tab-pane" id="tab-calendar">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-calendar"></i> Streaming sessions (PST)</h3>
		</div>
		<div class="panel-body">

			<div class="alert alert-info alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
				<a href="http://www.twitch.tv/huitaplus/profile" target="_blank"><i class="fa fa-twitch"></i> Calendar of streams by Huitaplus on Twitch</a><br>
			</div>
			<div id="full-calendar"></div>
		</div>
	</div>

</div>

