<div class="tab-pane active" id="tab-general">

	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-cubes"></i> General information avout the server</h3>
		</div>

		<div class="panel-body">						

			<h3>Server presentation</h3>
			<hr>

			<div class="row">

				<div class="col-md-6">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right text-muted"></i> <span class="text-muted">Server IP: </span><span class="text-info">huitaplus.com</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Creation: </span><span class="text-info">October 2014</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Hardware: </span><span class="text-info">3 Cores at 3GHz &amp; 4GB RAM</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Server costs: </span><span class="text-info">$12/month</span></li>
					</ul>
				</div>

				<div class="col-md-6">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right text-muted"></i> <span class="text-muted">Version: </span><span class="text-info">1.8</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Type: </span><span class="text-info">PVE</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Biomes: </span><span class="text-info">large</span></li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">Gamemode: </span><span class="text-info">Survival Hardcore</span></li>
					</ul>

				</div>

			</div>

			<hr>

			<div class="row">

				<div class="col-md-6">

					<ul class="list-unstyled">
						<li><i class="fa fa-usd text-danger"></i> &nbsp;<span title="Get 1 life at the end of the week" class="text-muted" data-toggle="tooltip">Top weekly donator: <span id="weekly-donator"></span></span></li>
						<li><i class="fa fa-usd text-info"></i> &nbsp;<span title="Get 1 life at the end of the day" class="text-muted" data-toggle="tooltip">Top daily donator: <span id="daily-donator"></span></span></li>
						<li><i class="fa fa-usd text-success"></i> &nbsp;<span title="Players support the last 30 days" class="text-muted" data-toggle="tooltip">Sum monthly donation: <span id="monthly-donation"></span></span></li>
					</ul>
					<div class="progress" data-toggle="tooltip" title="Costs covered by players donations the last 30 days">
						<div id="progress-donation" class="progress-bar progress-bar-success" style="min-width: 2em; width: 0%;">
							0%
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<a href="https://www.streamtip.me/t/huitaplus" class="btn-donate" target="_blank">
						<img src="images/donate.png" height="55px">
					</a>

          <button class="button"></button>
					<p class="text-muted">Thank you for you help to keep the server online!</p>
				</div>

			</div>

			<hr>

			<div class="thumbnail clearfix server-feature" id="feature-lives">
				<img src="images/heart.png" class="pull-left"> <h4><i class="fa fa-heart text-danger"></i> Lives</h4>

				<p>
				You start with 3 lives and are automatically resurrected the day after in the morning in case of death.<br>
				Use the daily Token you receive in game to vote for players, the top 3 will get 1 life each at the end of the week.
				</p>
			</div>

			<div class="thumbnail clearfix server-feature" id="feature-score">
				<img src="images/trophy.png" class="pull-right"> <h4><i class="fa fa-trophy text-warning"></i></i> Score</h4>
			<p>
			The score system is calculated using the achievments system based on their difficulty.<br>
			The more you do them the more you get points, up to a certain limit.<br>
			</p>
		</div>

		<div class="thumbnail clearfix server-feature" id="feature-rewards">
			<img src="images/gift.png" class="pull-left"> <h4><i class="fa fa-gift text-danger"></i> Rewards</h4>

			<p>
			Get regularely a package of 9 nice items based on your score, every 1,000 points.<br>
			You can also build nice structures and get rewarded for it with a package of items.
			</p>
		</div>

		<div class="thumbnail clearfix server-feature" id="feature-structures">
			<img src="images/home.png" class="pull-right"> <h4><i class="fa fa-home text-success"></i> Structures</h4>

			<p>
			You can own structures and get notified in-game and by email when players come to visit it<br>
			If you play with friends they can be added on the whitelist to avoid notification for them<br>
			</p>
		</div>

		<div class="thumbnail clearfix server-feature" id="feature-map">
			<img src="images/map.png" class="pull-left"> <h4><i class="fa fa-compass text-warning"></i> Map</h4>

			<p>
			A dynamique world map is available on the map tab.<br>
			It includes point of interests (like structures) and a real time players actions update.
			</p>
		</div>



  </div>
</div>
</div>
