<div class="tab-pane " id="tab-map">
	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-compass"></i> Map</h3>
		</div>

		<div class="panel-body">
			<img src="images/map.png" width="50px" class="pull-right">
			<h3>World map</h3>
			<hr>

			<div class="row">

				<div class="col-md-7">
					<p>The worldmap is rendered periodically every day to keep the content updated. It contains the <code>overworld surface</code>
					and a layout to hightlight <code>biomes</code>.<br><br>

					The interface as been customized to show points of interests like structures and players. Players location are
					updated every minute and include their life, food level, experience level and <code>actions</code>.<br><br>

					There are currently <code><span id="total-biomes-explored">0</span> biomes explored</code> by players as listed bellow:
					</p>
				</div>

				<div class="col-md-5">
					<div class="panel panel-info">

						<div class="panel-heading">
							<h3 class="panel-title">How to access to the map?</h3>
						</div>

						<div class="panel-body">
							<p class="text-muted">Once you will have explored all the biomes listed below you will receive an email
							with the link to access to the worldmap<br>
							</p>
						</div>

					</div>
				</div>
			</div>

			<hr>


			<div id="biomes-to-explore">
			</div>

			<hr>

			<img src="images/map_watermark.jpg" class="img-responsive img-thumbnail">

		</div>

	</div>
</div>
