<div class="tab-pane" id="tab-rewards">
	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-gift"></i> Reward System Details</h3>
		</div>

		<div class="panel-body">

			<img src="images/gift.png" width="50px" class="pull-right">
			<h3>Rewards content</h3>
			<hr>

			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-reward-package" data-toggle="tab">
					<i class="fa fa-cubes text-info"></i> Package of Items</a>
				</li>
				<li><a href="#tab-reward-single" data-toggle="tab">
					<i class="fa fa-cube text-info"></i> Single Item</a>
				</li>
			</ul>


			<div class="tab-content">

				<div class="tab-pane active" id="tab-reward-package">

					<p>A package contains 9 slots of items that are divided into multiple <code>groups</code>. You will get
					one slot of each <code>group</code> except for the blocks which is 3 slots.	Inside a group, items will be randomly selected based on the following list:
					</p>
					<hr>

					<div class="row">

						<div class="col-md-7">

							<div class="row">

								<div class="col-md-4">
									<code>Drops (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/370-0.png"</li> Ghast Tear x1
										<li><img src="images/items/369-0.png"</li> Blaze Rod x2
										<li><img src="images/items/378-0.png"</li> Magma Cream x4
										<li><img src="images/items/341-0.png"</li> Slimeball x8
										<li><img src="images/items/368-0.png"</li> Ender Pearl x16
										<li><img src="images/items/375-0.png"</li> Spider Eye x32
									</ul>
									<hr>

									<code>Blocks (x3)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/174-0.png"</li> Packed Ice x64
										<li><img src="images/items/98-1.png"</li> Mossy Stone x64
										<li><img src="images/items/112-0.png"</li> Nether Brick x64
										<li><img src="images/items/155-0.png"</li> Quartz Block x64
										<li><img src="images/items/89-0.png"</li> Glowstone x32
										<li><img src="images/items/1-2.png"</li> Granite x64
										<li><img src="images/items/1-6.png"</li> Andesite x64
										<li><img src="images/items/1-4.png"</li> Diorite x64
										<li><img src="images/items/35-0.png"</li> Wool x64
										<li><img src="images/items/162-1.png"</li> Dark Oak x64
										<li><img src="images/items/17-3.png"</li> Jungle x64
										<li><img src="images/items/17-2.png"</li> Birch x64
										<li><img src="images/items/179-0.png"</li> Red Sand x64
										<li><img src="images/items/45-0.png"</li> Brick x64
										<li><img src="images/items/168-1.png"</li> Prismarine x64
										<li><img src="images/items/168-0.png"</li> Prismarine x64
										<li><img src="images/items/168-2.png"</li> Prismarine x64
										<li><img src="images/items/169-0.png"</li> Sea Lantern x32
									</ul>
								</div>

								<div class="col-md-4">
									<code>Dyes (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/351-1.png"</li> Red x32
										<li><img src="images/items/351-2.png"</li> Cactus gree x32
										<li><img src="images/items/351-3.png"</li> Cocoa Bean x32
										<li><img src="images/items/351-4.png"</li> Lapis Lazuli x32
										<li><img src="images/items/351-5.png"</li> Purple x32
										<li><img src="images/items/351-6.png"</li> Cyan x32
										<li><img src="images/items/351-7.png"</li> Light gray x32
										<li><img src="images/items/351-8.png"</li> Gray x32
										<li><img src="images/items/351-9.png"</li> Pink x32
										<li><img src="images/items/351-11.png"</li> Yellow x32
										<li><img src="images/items/351-12.png"</li> Light Blue x32
										<li><img src="images/items/351-13.png"</li> Magenta x32
										<li><img src="images/items/351-14.png"</li> Orange x32
									</ul>
									<hr>

									<code>Enchant (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/403-0.png"</li> Aqua Affinity
										<li><img src="images/items/403-0.png"</li> Silk Touch
										<li><img src="images/items/403-0.png"</li> Looting III
										<li><img src="images/items/403-0.png"</li> Unbreaking III
										<li><img src="images/items/403-0.png"</li> Efficiency V
										<li><img src="images/items/403-0.png"</li> Power V
										<li><img src="images/items/403-0.png"</li> Sharpness
										<li><img src="images/items/403-0.png"</li> Fortune III
										<li><img src="images/items/403-0.png"</li> Infinity
									</ul>
								</div>

								<div class="col-md-4">
									<code>Potion (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/374-0.png"</li> Regeneration II 
										<li><img src="images/items/374-0.png"</li> Healing II 
										<li><img src="images/items/374-0.png"</li> Invisibility 
										<li><img src="images/items/374-0.png"</li> Breathing 
										<li><img src="images/items/374-0.png"</li> Fire Resistance
									</ul>
									<hr>

									<code>Tool (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/293-0.png"</li> Hoe
										<li><img src="images/items/277-0.png"</li> Shovel
										<li><img src="images/items/279-0.png"</li> Axe
										<li><img src="images/items/276-0.png"</li> Sword
										<li><img src="images/items/278-0.png"</li> Pickaxe
									</ul>
									<hr>

									<code>Ores (x1)</code>
									<ul class="list-unstyled">
										<li><img src="images/items/57-0.png"</li> Diamond Block x1
										<li><img src="images/items/133-0.png"</li> Emerald Block x2
										<li><img src="images/items/22-0.png"</li> Lapis Lazuli x4
										<li><img src="images/items/41-0.png"</li> Gold Block x8
										<li><img src="images/items/42-0.png"</li> Iron Block x16
										<li><img src="images/items/173-0.png"</li> Block of Coal x32
									</ul>
								</div>

							</div>
						</div>

						<div class="col-md-5">
							<div class="panel panel-info">

								<div class="panel-heading">
									<h3 class="panel-title">How can I get one?</h3>
								</div>

								<div class="panel-body">
									<p class="text-muted">You currently will get a reward package every <code>1,000</code> score.</p>
									<p class="text-muted">And also each time you build a <code>structure</code> (See tab Structure for more details)</p>
									<hr>
									<div class="form-inline">
										<input type="text" id="reward-token" class="form-control" placeholder="Token">
										<button class="btn btn-success btn-sm" id="reward-submit"><i class="fa fa-gift"></i> Claim</button>
									</div>
									<p class="text-info"><i class="fa fa-info-circle"></i> Sent by email (check spam?)</p>
									<br>
									<ul class="list-group" id="reward-package">
									</ul>
								</div>

							</div>

						</div>
					</div>


				</div> 
				<!-- End Tab reward Package -->

				<div class="tab-pane" id="tab-reward-single">

					<p>A single item reward contain an item of the <code>Foodstuff</code> or <code>Flower</code> category that is randomly choosen based on the following list.<br>
					If you are eligible for it you will receive it in game after a few minutes</p>
					</p>
					<hr>

					<div class="row">

						<div class="col-md-7">

							<div class="row">


								<div class="col-md-6">
									<code>Foodstuff</code>

									<ul class="list-unstyled">
										<li><img src="images/items/260-0.png"</li> Apple x3
										<li><img src="images/items/282-0.png"</li> Mushroom Stew x3
										<li><img src="images/items/297-0.png"</li> Bread x3
										<li><img src="images/items/400-0.png"</li> Pumpkin Pie x3
										<li><img src="images/items/391-0.png"</li> Carrot x3
										<li><img src="images/items/393-0.png"</li> Baked Potato x3
										<li><img src="images/items/396-0.png"</li> Golden Carrot x1
										<li><img src="images/items/322-0.png"</li> Golden Apple x1
										<li><img src="images/items/322-1.png"</li> Notch Apple x1
										<li><img src="images/items/320-0.png"</li> Cooked Porkshop x3
										<li><img src="images/items/424-0.png"</li> Cooked Mutton x3
										<li><img src="images/items/366-0.png"</li> Cooked Chicken x3
										<li><img src="images/items/364-0.png"</li> Steak x3
										<li><img src="images/items/350-0.png"</li> Cooked Fish x3
										<li><img src="images/items/350-1.png"</li> Cooked Salmon x3
										<li><img src="images/items/349-2.png"</li> Clownfish x3
										<li><img src="images/items/360-0.png"</li> Melon x3
										<li><img src="images/items/357-0.png"</li> Cookie x3
										<li><img src="images/items/354-0.png"</li> Cake x3
										<li><img src="images/items/413-0.png"</li> Rabbit Stew x3
									</ul>
								</div>

								<div class="col-md-6">
									<code>Flower</code>

									<ul class="list-unstyled">
										<li><img src="images/items/37-0.png"</li> Dandelion x3
										<li><img src="images/items/38-0.png"</li> Poppy x3
										<li><img src="images/items/38-1.png"</li> Blue Orchid x3
										<li><img src="images/items/38-2.png"</li> Allium x3
										<li><img src="images/items/38-3.png"</li> Azure Bluet x3
										<li><img src="images/items/38-4.png"</li> Red Tulip x3
										<li><img src="images/items/38-5.png"</li> Orange Tulip x3
										<li><img src="images/items/38-6.png"</li> White Tulip x3
										<li><img src="images/items/38-7.png"</li> Pink Tulip x3
										<li><img src="images/items/38-8.png"</li> Oxeye Daisy x3
										<li><img src="images/items/175-0.png"</li> Sunflower x3
										<li><img src="images/items/175-1.png"</li> Lilac x3
										<li><img src="images/items/175-2.png"</li> Double Tallgrass x3
										<li><img src="images/items/175-3.png"</li> Large Fern x3
										<li><img src="images/items/175-4.png"</li> Rose Bush x3
										<li><img src="images/items/175-5.png"</li> Peony x3
									</ul>
								</div>

							</div>
						</div>

						<div class="col-md-5">
							<div class="panel panel-info">

								<div class="panel-heading">
									<h3 class="panel-title">How can I get one?</h3>
								</div>

								<div class="panel-body">
									<p class="text-muted">Every time you <code>vote</code> for a player on the website.</p>
								</div>

							</div>

						</div>

					</div>
				</div> 
				<!-- End Tab reward Single Item -->

			</div> 
		</div>

	</div>
</div>
