<div class="tab-pane" id="tab-forum">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-comments"></i> Discussions around the server</h3>
		</div>
		<div class="panel-body">
			<iframe id="forum_embed"
				src="javascript:void(0)"
				scrolling="no"
				frameborder="0"
				width="900"
				height="700">
			</iframe>
			<script type="text/javascript">
				document.getElementById('forum_embed').src =
				'https://groups.google.com/forum/embed/?place=forum/huitaplus'
				+ '&showsearch=true&showpopout=true&showtabs=false'
				+ '&parenturl=' + encodeURIComponent(window.location.href);
			</script>
		</div>
	</div>
</div>

