<div class="tab-pane" id="tab-structures">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-home"></i> Structures owned by players on the server</h3>
		</div>

		<div class="panel-body">

			<img src="images/home.png" width="50px" class="pull-right">
			<h3>Structure Benefits</h3>

			<hr>

			<div class="row">

				<div class="col-md-7">
					<p>Any players who own structure will get a <code>reward package</code> (9 items) and
					<code>notifications</code> (message in-game and email) when someone enter in there area. If you want your friend
					to not trigger notifications please ask on the forum.<br><br>

					Actions done by any players inside those specifics area are <code>logged</code>. Any grief will be punished
					by a server ban.<br>
					Any construction done in the perimeter of a <code>referenced structure</code> can be punished by a server ban.
					</p>
				</div>

				<div class="col-md-5">
					<div class="panel panel-info">

						<div class="panel-heading">
							<h3 class="panel-title">How can I claim a structure?</h3>
						</div>

						<div class="panel-body">
							<p class="text-muted"><i class="fa fa-comments-o"></i> You have to upload on the forum a photo of your creation
							with your name and give the location privately.<br>
							</p>
						</div>

					</div>
				</div>
			</div>
			<hr>

			<div id="structures-box">
			</div>

		</div>

	</div>

</div>
